.aboutPage {
  display: grid;

  align-content: center;
  justify-content: center;
}

.title {
  width: 60rex;
  margin: 2rem 1rem 1rem;

  text-align: center;
  line-height: 1.5;
  color: var(--text-color-dark);
}

.paragraph {
  width: 60rex;
  margin: 1rem 1rem 4rem;

  text-align: center;
  line-height: 1.5;
  color: var(--text-color-dark);
}
