@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

:root {
  --color-main-hsl: hsl(34, 87%, 60%);
  --color-secondary-hsl: hsl(9, 61%, 49%);
  --color-accent-hsl: hsl(91, 100%, 34%);
  --color-bg-light-hsl: hsl(46, 70%, 86%);

  --text-color-dark: hsl(242, 72%, 14%);
  --text-color-light: hsl(96, 38%, 95%);

  --font-size-text-tiny: calc(0.9rem + 0.1vh);
  --font-size-text-normal: calc(1rem + 0.1vh);
  --font-size-text-big: calc(1.25rem + 0.1vh);

  --font-sieze-logotype: calc(2rem + 0.1vh);
}

.header {
  background-color: var(--color-main-hsl);
}

.logotype {
  padding: var(--font-size-text-normal);

  font-family: "Calistoga";
  font-size: var(--font-sieze-logotype);
  color: var(--text-color-dark);
}

.web-navegator__ul {
  --buttons-width: 18rex;
  --buttons-height: calc(2 * var(--font-size-text-normal));

  height: var(--buttons-height);

  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--buttons-width);
  justify-content: center;
  place-items: stretch;
}

.web-navegator__home-button,
.web-navegator__pizzas-button,
.web-navegator__about-button {
  width: 100%;
  height: 100%;

  font-size: var(--font-size-text-normal);
}

body {
  background-color: var(--color-bg-light-hsl);
}