@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --color-main-hsl: hsl(34, 87%, 60%);
  --color-secondary-hsl: hsl(9, 61%, 49%);
  --color-accent-hsl: hsl(91, 100%, 34%);
  --color-bg-light-hsl: hsl(46, 70%, 86%);

  --text-color-dark: hsl(242, 72%, 14%);
  --text-color-light: hsl(96, 38%, 95%);

  --font-size-text-tiny: calc(0.9rem + 0.1vh);
  --font-size-text-normal: calc(1rem + 0.1vh);
  --font-size-text-big: calc(1.25rem + 0.1vh);
}

.web-navegator__ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}